// $primary-color: #22c55e;
$primary-color: #5d738a;
$text-color: #f8f4ef;

:host {
  display: block;
}

nav {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  li {
    display: inline;
    margin-right: 5px;
  }
}

// Define box shadow
@mixin box-shadow($x, $y, $blur, $color) {
  -webkit-box-shadow: $x $y $blur $color;
  -moz-box-shadow: $x $y $blur $color;
  box-shadow: $x $y $blur $color;
}

// Customize the style of the .p-button class using the variable
#overrideButton.p-button {
  background-color: $primary-color;
  border-radius: 15px;
  color: $text-color;
  @include box-shadow(0, 0, 15px, #ccc);
}
